<!-- Main -->
<div class="container">

    <!-- Carousel wrapper -->
    <div id="carouselAccueil" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="1" class="active"
                aria-current="true" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="2" class="active"
                aria-current="true" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselAccueil" data-bs-slide-to="3" class="active"
                aria-current="true" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="/images/Restaurant/Facade-01_680x382.webp" alt="slider.titre" class="d-block w-100 img-fluid">
                <div class="carousel-caption" style="background-color: rgba(0,0,0,.5); color: #fff; !important;">
                    <h3 class="text-white fw-bold">Bienvenue chez O&#039;Asie !</h3>
                    <p class="text-white">Un lieu convivial pour se restaurer, se divertir ou télétravailler</p>
                </div>
            </div>

            <div class="carousel-item ">
                <img src="/images/Restaurant/Buffet-01_680x382.webp" alt="slider.titre" class="d-block w-100 img-fluid">
                <div class="carousel-caption" style="background-color: rgba(0,0,0,.5); color: #fff; !important;">
                    <h3 class="text-white fw-bold">Restaurant</h3>
                    <p class="text-white">Des menus et plats à la carte à consommer sur place, à emporter où livraison.</p>
                </div>
            </div>

            <div class="carousel-item ">
                <img src="/images/KTV/KTV-05_680x382.webp" alt="slider.titre" class="d-block w-100 img-fluid">
                <div class="carousel-caption" style="background-color: rgba(0,0,0,.5); color: #fff; !important;">
                    <h3 class="text-white fw-bold">karaoké / KTV</h3>
                    <p class="text-white">Réservez l'une de nos salle privé KTV et passez une soirée inoubliable !</p>
                </div>
            </div>

            <div class="carousel-item ">
                <img src="/images/Co_working/CoWorking-01_680x362.webp" alt="slider.titre" class="d-block w-100 img-fluid">
                <div class="carousel-caption" style="background-color: rgba(0,0,0,.5); color: #fff; !important;">
                    <h3 class="text-white fw-bold">Coworking / Télétravail</h3>
                    <p class="text-white">Sur une table où dans une salle équipée, travaillez en tout tranquilité</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccueil" data-bs-slide="prev">
            <span style="background-color: rgba(0,0,0,.5); color: #fff; !important;" aria-hidden="true"><i
                    class="fa-solid fa-backward fa-2x"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAccueil" data-bs-slide="next">
            <span style="background-color: rgba(0,0,0,.5); color: #fff; !important;" aria-hidden="true"><i
                    class="fa-solid fa-forward fa-2x"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->
    <br><br>
    <!-- Main -->
    <div class="text-center">
        <table class="table table-borderless">
            <tr>
                <td><img class="rounded-circle" src="/synfony/yibo/public/images/siteweb/hotel.jpg" alt="Hôtel"></td>
                <td><img class="rounded-circle" src="/synfony/yibo/public/images/siteweb/restaurant.jpg" alt="Hôtel">
                </td>
                <td><img class="rounded-circle" src="/synfony/yibo/public/images/siteweb/spa.jpg" alt="Hôtel"></td>
            </tr>
            <tr class="fs-2">
                <td>Chambre</td>
                <td>Restaurant</td>
                <td>Spa</td>
            </tr>
            <tr class="fs-6">
                <td>Venez découvrir nos chambres pour votre plus grand confort !</td>
                <td>Nos plars sont confectionnés à la minute par notre chef cuisiner chaque jour.</td>
                <td>Détendez-vous et offrez vous un massage dont vous vous rappellerez longtemps.</td>
            </tr>
            <tr class="fs-6">
                <td><a href="/synfony/yibo/public/hotel/chambre" class="btn btn-secondary">Découvrir les chambres</a>
                </td>
                <td><a href="/synfony/yibo/public/hotel/restaurant" class="btn btn-secondary">Visitez notre
                        restaurant</a></td>
                <td><a href="/synfony/yibo/public/hotel/spa" class="btn btn-secondary">Les soins</a></td>
            </tr>
        </table>
    </div>
    <!-- Main -->

</div>
<!-- Main -->