<div class="modal fade" role="dialog" tabindex="-1" id="modal-1" style="color: rgb(33, 37, 41);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-info bg-danger">
                <h4 class="modal-title text-warning" style="font-family: Merienda, serif;">O'Asie</h4><button
                    type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><iframe allowfullscreen="" frameborder="0" loading="lazy"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBpCAABBxaS91Tnaa6CIVO0mnKWvvuap4I&amp;q=O'Asie&amp;zoom=17"
                    width="100%" height="400"></iframe></div>
            <div class="modal-footer text-warning bg-danger d-lg-flex">
                <div class="d-flex flex-row justify-content-between align-items-lg-start"
                    style="width: 100%;height: 27px;">
                    <div class="d-flex flex-row align-items-lg-start" style="height: 25px;"><i
                            class="fas fa-phone-volume d-flex d-lg-flex align-items-center align-items-lg-center"
                            style="height: 25px;"></i><span class="d-lg-flex align-items-lg-start"
                            style="height: 25px;">&nbsp;: 01 56 92 05 78<br><br></span></div>
                    <div class="d-flex" style="height: 25px;"><span class="fw-bold" style="height: 25px;">@</span>
                        <p style="height: 25px;">: contact@oasie.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>