<section class="showcase">
    <nav class="navbar navbar-light navbar-expand-md sticky-top bg-danger d-xl-flex align-items-xl-center py-3"
        style="background: var(--oasie-rouge);color: rgb(33, 37, 41);position: static;">
        <div class="container"><a class="navbar-brand d-flex flex-row" href="#" style="height: 43px;"><img
                    src="/images/Logo/Logo oasie.png" style="width: 43px;height: 43px;margin-right: 5px;"><span
                    class="text-warning d-flex d-md-flex align-items-center align-items-md-center"
                    style="font-family: Merienda, serif;font-size: 36px;font-weight: bold;height: 43px;margin-left: 5px;">O'Asie</span></a><button
                data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"
                style="color: var(--oasie-jaune);"><span class="visually-hidden">Toggle navigation</span><svg
                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
                        fill="currentColor"></path>
                    <path
                        d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z"
                        fill="currentColor"></path>
                    <path
                        d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z"
                        fill="currentColor"></path>
                </svg></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="font-size: 20px;">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active fw-bold link-warning" data-bss-hover-animate="swing"
                            href="restaurant.html">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold link-warning" data-bss-hover-animate="swing"
                            href="ktv.html">KTV / Karaoké</a></li>
                    <li class="nav-item"><a class="nav-link fw-bold link-warning" data-bss-hover-animate="swing"
                            href="coworking.html">Coworking</a></li>
                </ul><a class="btn btn-primary" role="button"
                    style="border: 3px solid var(--bs-yellow);background: var(--bs-white);color: var(--bs-red);margin-right: 5px;font-weight: bold;margin-left: 5px;"
                    href="carte.html">Notre carte</a><a class="btn btn-primary" role="button"
                    style="border: 3px solid var(--bs-yellow);background: var(--bs-white);color: var(--bs-red);margin-left: 5px;font-weight: bold;"
                    href="formule.html">Nos formules</a><button class="btn" type="button"
                    style="background: transparent;margin-left: 5px;border-style: none;width: 42px;"
                    data-bs-target="#modal-1" data-bs-toggle="modal"><i class="fas fa-map-marked-alt text-warning fa-2x"
                        style="margin: 0;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;width: 18px;height: 16px;"></i></button>
            </div>
        </div>
    </nav>

</section>
<!-- Nav -->